<!doctype html>

<html lang="en">
   
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ABH Invoice Form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
         <link href ="styles/vendStyle.css" rel="stylesheet" type="text/css" >
    </head>  
    
    <body >
    <div class="mainHeader">

        <div class="contact">
        
            <label class="address">131 Heartland Boulevard, Edgewood, New York, U.S </label>
            <label class = "number">866-282-4729</label>

       
            <div class="link">
                <a id="facebook"  class="linkSpacing"        href="https://www.facebook.com/abhpharma/n">Facebook</a>
    

                <a id="twitter" class="linkSpacing" 
                href="https://twitter.com/ABHPharma?lang=en">Twitter</a>



                <a id="instagram" class="linkSpacing" href="https://www.instagram.com/abhpharma/?hl=en">Instagram</a>
 

 
                <a id="google+" class="linkSpacing" 
                href="https://plus.google.com/+Abhpharma">Google+</a>
        

       
             <a id="linkedIn"class="linkSpacing"  href="https://www.linkedin.com/company/abh-pharma-inc/">LinkedIn</a>

            </div>
        
        </div>
            <div class="logoLoc">
                <a href="https://abhpharma.com"><img src="images/headerv1.jpg"></a> 
            </div>
   
            
    
    </div>

    <div class="mainBody">
        <div class="container-fluid"> 
            <div class="center">
                    <div class="vendName">
                        <h2 class="venNamLbl">Vendor: </h2>
                        <h2 for= " venNamLbl" id="venNam"><%= venNam %>></h2>
                    </div>
                    <div class="main">
                        <div id="matName">
                            
                            <h5 for="matLbl" id="matNam">Alpha GPC 50%</h5>
                        </div>
                        <div id="abhRequest">
                            <label id="requestLbl">ABH Request: </label>
                            <label id="request">10 kg</label>
                        </div>
                        <div class="fillout">
                            <div id="moq" class="form-group">
                               
                                <label for="moqIn">Min Order Quantity </label>
                                <input type="text" class="form-control" id="moqIn"  placeholder="ex: 23">
                            </div>
                            <div id="measurments" class="form-group">
                                <label id="measureLbl">Measurement</label>
                                
                                <div class="input-group">
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                        <div class="input-group-append">
                                          <select id="unit" id="mesurement" placeholder = "Units">
                                                <option value="kg">Kilograms</option>
                                                <option value="lb">Pounds</option>
                                                </select>
                                        </div>
                                    </div>
                                
                                
            
                            </div>
                            <div id="price" class="form-group">
                                <label for="priceIn">Price</label>
                                
                                
                                <div class="input-group">
                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="priceIn">
                                        <div class="input-group-append">
                                          <span class="input-group-text">$(USD)</span>
                                        </div>
                                      </div>



                            </div>
                            <div id="inStock" class="form-group">
                                <label id="inStockLbl">In Stock</label>
                                <form id="btnYN">
                                    <input type="radio" name="aval" value="yes" checked id="btnY"> Yes<br>
                                    <input type="radio" name="aval" value="no" id="btnN"> No<br>
                            </div>
                          

                            <div id="dateSelect" class="form-group">
                                <label for="dateIn" id="caseNo">If No then when will you have it available?</label>
                                <input type="date" id="dateIn" class="form-group">
                            </div>
                          
                            <div id="shipLoc" class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="shipping">Shipping Address</span>
                                </div>
                                <input type="text" class="form-control" placeholder="131 Heartland Blvd Edgewood, NY 11717, United States " aria-label="Username" aria-describedby="shipping">
                            </div>
                    <div class="submit">
                        <button type="button" class="formComp"><span>Form Completed </span></button>
                    </div> 
            </div>
        </div>
    </div>
    
    
    </body>

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script> 
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn1s6adm2F_xKl-7cEKlOaK_lShnsPpUs&callback=initMap" async defer></script>
 

</html>
