<div class="side-nav">
        <ul class="sections">
        <li><a href="/ABH_Purchase/Dashboard">Request Quote</a></li>
        <li><a href="/ABH_Purchase/Add_Vendor" class="addVend" >Add Vendor </a></li>
        <li><a href="/ABH_Purchase/Modify_Vendor" class="modVend">Modify Vendor Info</a></li>
        <li><a href='/ABH_Purchase/Logout' class="logout">Logout</a></li>
        </ul>
</div>