

        #btnPrev {
            margin-right: 8%;
            margin-top: 1%;
            margin-bottom: 0%;
            border-radius: 500px;
            background-color: #3378B9;
            border: none;
            color: #ffffff;
            text-align: center;
            font-size: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;

        }
        #btnPrev span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.4s;
        }
        #btnPrev span:before {
            content: '<<';
            position: absolute;
            opacity: 0;
            top: 0;
            left: -20px;
            transition: 0.5s;
        }
        #btnPrev:hover span {
            padding-left: 25px;
        }
        #btnPrev:hover span:before {
            opacity: 1;
            left: 0;
        }