*,*::before, *::after{box-sizing: border-box;}


body{
    /* margin: auto; */
    /* background-image: url('../../images/bodyImg.png' ); */ 
    background-image: url('/images/abh-background1.jpg');
    background-position: center right;
    font-size: 1rem;
    /* border-style: none;
    border-color: red; */
    zoom: 100%;

    
}




.mainHeader{
   background:#7bc659;
   border-color: gray;
    /* border-style: dashed; */
  
    
    height: 50px;
    width: 100%;

   
   margin-left: 0;
   margin-top: 0px;


   
}

.address{
    
    border-color: black;
    /* border-style: dashed; */
    color: #FFFFFF;
}

.number{
    color: #FFFFFF;
    border-color: black;
    /* border-style: dashed; */

}

.contact{
    color: #ffffff;
    border-color: orange;
    /* border-style: dashed; */
    padding-top: 10px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: none;

}

.address{
    padding-left: 18.1%;
}

.number{
    padding-left: 1.6%;
}

.link{
    display: inline;
    color: #FFFFFF;
    border-color: green;
    /* border-style: dashed; */
   
    margin-left: 6.6%;
    
}

.linkSpacing{
    position: relative;
   
    padding-left: 2.5%;
   
}
.logoLoc{
    width: 100%;
    
    
    margin-top: .4%; 
    /* border-style: groove; */
    border-color: yellow;
    background-color: #FFFFFF;
    padding-left: 285px;
    padding-top: 15px;
    padding-bottom: 2px;
   

     
}

.mainBody{
    border-radius: 5px;
    background-position: center;
    background-color: #D7D8DD;
    -moz-box-shadow:    outset .4px .0px 10px rgb(113, 113, 116);
    -webkit-box-shadow: outset .3px .0px 10px rgb(65, 65, 66);
    box-shadow:         inset .2px .0px 10px rgb(113, 113, 116);
    /* border-style: outset ;
    border-color: #D7D8DD; */
    color: #1a1a1a;
    

   height: 750px;
    
    
    margin-left: 25%;
    margin-right: 25%;
    float: center;
    

    
    margin-top: 8%;
   
    margin-bottom: 2%;
    font-size: 20px;

}

h1{
    margin-left: 8%;
    font-style: italic;
    font-size: 160%;
    margin-bottom: 0;
    padding-top: 5%;

}

.material{
    margin-top: 5%;
    text-align: center;
}

 .form-group{   /*MAKE SURE YOU DONT TOUCH THIS THIS IS ONLY SO THAT THE DATE PICKER DOESNT SHOW BEHIND ELEMENTS LET BOOTRAP DO THE REST FOR FORM-GROUP*/
    z-index: 1;
}

.fillout{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
}



input{
    
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
#amount{
    width: 70%;
}
select{
    font-size: 15px;
}




.inLoc{
    margin-top: 30px;
}





.submit{
    border-style: none;
    border-color: black;
}
    .formComp {
        float: right;
        margin-right: 8%;
        margin-top: 1%;
        margin-bottom: 0%;
        border-radius: 500px;
        background-color: #7bc659;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        
    }
    .formComp span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
    }
    .formComp span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .formComp:hover span {
        padding-right: 25px;
    }
    .formComp:hover span:after {
        opacity: 1;
        right: 0;
    }

