
<fieldset>

        <h1 id="sectionName"><em>Add Vendor</em> <br><br> </h1>
        <h1 id="title" class="fs-title">Contact Info</h2>
    
        <input type="text" class="inputField" id="vendNamIn" name="vendNamIn" placeholder="Vendor Name" / required>
        
    
        <input type="text" class="inputField" id="matSupIn" name="matSupIn" placeholder="Material Supplied" / required>
   
        <input type="email" class="inputField" id="vendEmailIn" name="vendEmailIn" placeholder="Vendor Email" / required>
        
        <input type="number" class="inputField" id="vendNumIn" name="material" placeholder="Contact Number" / required>
       
        <input type="text" class="inputField" id="vendShipLocIn" name="vendShipLocIn" placeholder="Shipping Location ** Not required **" / >

        <div id="nxtBtn">
        <button type="submit"  name="next" id="saveBtn"  ><span>Save</span></button>
        </div>

</fieldset>