

<fieldset>
    <h1 id="sectionName"><em>Modify Vendor Information</em> <br><br> </h1>
    <h1 id="title" class="fs-title">Vendor Name</h2>

    <input type="text" class="inputField" name="vendSearch" placeholder="Type Vendor Name you want to modify..." / required>
    <div id="nxtBtn">
    <button type="button" id="btnNext" name="next" class="next action-button"  ><span>Next</span></button>
    </div>
</fieldset>

<fieldset>
    <h1 id="title" class="fs-title">Specify</h1>
    
    <input type="text" class="inputField" name="mod" placeholder="Mod1.." / required>

    
    <div class="submit">

        <button type="button" id="btnPrev" name="previous" class="previous action-button" ><span>Previous</span></button>
        <button type="submit" id="formComplete"><span>Modify Vendor</span></button>
            
    </div>
</fieldset>


<script src="/scripts/purchaseScript.js"></script>