
<html lang="en" >

        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <title>Purchasing Request</title>

                <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
                

                <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/sideNav.css">

                <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/loginStyle.css">
                
                <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/btns.css">

                <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/checkBoxes.css">

                
                <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/purchaseStyle.css">
                

                
        </head>  

        <body >

                <div class="mainHeader">

                <div class="contact">
                
                <label class="address">131 Heartland Boulevard, Edgewood, New York, U.S </label>
                <label class = "number">866-282-4729</label>

                
                <div class="link">
                        <a id="facebook"  class="linkSpacing"        href="https://www.facebook.com/abhpharma/n">Facebook</a>


                        <a id="twitter" class="linkSpacing" 
                        href="https://twitter.com/ABHPharma?lang=en">Twitter</a>



                        <a id="instagram" class="linkSpacing" href="https://www.instagram.com/abhpharma/?hl=en">Instagram</a>



                        <a id="google+" class="linkSpacing" 
                        href="https://plus.google.com/+Abhpharma">Google+</a>
                

                
                        <a id="linkedIn"class="linkSpacing"  href="https://www.linkedin.com/company/abh-pharma-inc/">LinkedIn</a>

                </div>
                
                
                <div class="logoLoc">
                        <a href="https://abhpharma.com"><img src="../images/headerv1.jpg"></a> 
                </div>

                
                </div>
                
                
                </div>

                
                <div class="side-nav">
                        <ul class="sections">
                        <li><a class="/ABH_Purchase/Dashboard">Request Quote</a></li>
                        <li><a href="/ABH_Purchase/Add_Vendor" class="addVend" >Add Vendor </a></li>
                        <li><a href="/ABH_Purchase/Modify_Vendor" class="modVend">Modify Vendor Info</a></li>
                        <li><a href='/ABH_Purchase/Logout' class="logout">Logout</a></li>
                        </ul>
                </div>
        
                <div class="menu-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                </div>
                
                <div class="x-bar">
                <div class="side-bar1"></div>
                <div class="side-bar2"></div>
                </div>
                <form id="msform" method="POST" action="/Add_Vendor" >
                        <div id="formLoc">
                                <fieldset>

                                        <h1 id="sectionName"><em>Add Vendor</em> <br><br> </h1>
                                        <h1 id="title" class="fs-title">Contact Info</h2>
                                
                                        <input type="text" class="inputField" id="vendNamIn" name="vendNamIn" placeholder="Vendor Name" / required>
                                        
                                
                                        <input type="text" class="inputField" id="matSupIn" name="matSupIn" placeholder="Material Supplied" / required>
                                
                                        <input type="email" class="inputField" id="vendEmailIn" name="vendEmailIn" placeholder="Vendor Email" / required>
                                        
                                        <input type="number" class="inputField" id="vendNumIn" name="material" placeholder="Contact Number" / required>
                                
                                        <input type="text" class="inputField" id="vendShipLocIn" name="vendShipLocIn" placeholder="Shipping Location ** Not required **" / >

                                        <div id="nxtBtn">
                                        <button type="submit"  name="next" id="formComplete"  ><span>Save</span></button>
                                        </div>

                                </fieldset>
                        </div>
                </form>
                        <!-- <form class="form-group" method="POST" action="/purchase" id="addVend" class="tab-pane fade in active">
                        </form> -->




        <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

        <script src="/scripts/purchaseScript.js"></script>


        <script src='/scripts/otherScripts/sideNavScript.js'></script>

        </body>  

</html>  
    






