
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Purchasing Request</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
       
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/purchaseStyle.css">
       
    
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/sideNav.css">

        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/loginStyle.css">
        
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/btns.css">

        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/checkBoxes.css">

      

        
    </head>  

    <body >

         <div class="mainHeader">

        <div class="contact">
        
            <label class="address">131 Heartland Boulevard, Edgewood, New York, U.S </label>
            <label class = "number">866-282-4729</label>

       
            <div class="link">
                <a id="facebook"  class="linkSpacing"        href="https://www.facebook.com/abhpharma/n">Facebook</a>
    

                <a id="twitter" class="linkSpacing" 
                href="https://twitter.com/ABHPharma?lang=en">Twitter</a>



                <a id="instagram" class="linkSpacing" href="https://www.instagram.com/abhpharma/?hl=en">Instagram</a>
 

 
                <a id="google+" class="linkSpacing" 
                href="https://plus.google.com/+Abhpharma">Google+</a>
        

       
             <a id="linkedIn"class="linkSpacing"  href="https://www.linkedin.com/company/abh-pharma-inc/">LinkedIn</a>

            </div>
        
        
            <div class="logoLoc">
                <a href="https://abhpharma.com"><img src="../images/headerv1.jpg"></a> 
            </div>
   
            
        </div>
            
            
         </div>

         <div class="side-nav">
                <ul class="sections">
                  <li><a class="reqQuote">Request Quote</a></li>
                  <li><a href="#" class="addVend" >Add Vendor </a></li>
                  <li><a href="#" class="modVend">Modify Vendor Info</a></li>
                </ul>
              </div>
              <div class="menu-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
              <div class="x-bar">
                <div class="side-bar1"></div>
                <div class="side-bar2"></div>
              </div>
        

         <div id="formLoc">
            <form id="msform" method="POST" action="/purchase">
                   <div class="welcome_page">
                       <h1 id="loginHeader">ABH Purchasing Application</h1>
                          <div class="container">
                             <div class="col-lg-8 login-form">
                                 <div class="col-lg-12 login-form">
                                     <form>
                                          <div class="form-group">
                                               <label class="form-control-label">USERNAME</label>
                                               <input  type="text" id="username" class="form-control">
                                          </div>
                                          <div class="form-group">
                                               <label class="form-control-label">PASSWORD</label>
                                              <input type="password" id ="password"  class="form-control" >
                                           </div>
                
                                          <div class="col-lg-12 loginbttm">
                                                <div class="col-lg-6 login-btm login-text">
                                                    <!-- Error Message -->
                                              </div>
                                               <div class="col-lg-6 login-btm login-button">
                                                    <button type="button" id="loginBtn" class="btn btn-outline-primary">LOGIN</button>
                                             </div>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                          </div>
                        </div>
                   </div>
            </form>
        </div>



                    <!-- <form class="form-group" method="POST" action="/purchase" id="addVend" class="tab-pane fade in active">
                    </form> -->



 
 <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

 <script src="/scripts/purchaseScript.js"></script>

<script src="/scripts/purchaseScript.js"></script>
<script src='/scripts/otherScripts/sideNavScript.js'></script>
</body>  

</html>