
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Purchasing Request</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
       
        <link rel="stylesheet" type="text/css" href="/styles/purchaseStyle.css">
        <link rel="stylesheet" type="text/css" href="/styles/otherProperties/nextBtn.css">
        <link rel="stylesheet" type="text/css" href="/styles/otherProperties/prevBtn.css">
        <link rel="stylesheet" type="text/css" href="/styles/otherProperties/submitBtn.css">
        <link rel="stylesheet" type="text/css" href="/styles/otherProperties/checkBoxes.css">
        <link rel="stylesheet" type="text/css" href="/styles/otherProperties/sideNav.css">
  
  

        
    </head>  

    <body >

         <div class="mainHeader">

        <div class="contact">
        
            <label class="address">131 Heartland Boulevard, Edgewood, New York, U.S </label>
            <label class = "number">866-282-4729</label>

       
            <div class="link">
                <a id="facebook"  class="linkSpacing"        href="https://www.facebook.com/abhpharma/n">Facebook</a>
    

                <a id="twitter" class="linkSpacing" 
                href="https://twitter.com/ABHPharma?lang=en">Twitter</a>



                <a id="instagram" class="linkSpacing" href="https://www.instagram.com/abhpharma/?hl=en">Instagram</a>
 

 
                <a id="google+" class="linkSpacing" 
                href="https://plus.google.com/+Abhpharma">Google+</a>
        

       
             <a id="linkedIn"class="linkSpacing"  href="https://www.linkedin.com/company/abh-pharma-inc/">LinkedIn</a>

            </div>
        
        
            <div class="logoLoc">
                <a href="https://abhpharma.com"><img src="../images/headerv1.jpg"></a> 
            </div>
   
            
        </div>
            
            
         </div>

         <div class="side-nav">
                <ul class="sections">
                  <li><a class="reqQuote" href="#">Request Quote</a></li>
                  <li><a href="#" class="addVend" >Add Vendor </a></li>
                  <li><a href="#" class="modVend">Modify Vendor Info</a></li>
                </ul>
              </div>
              <div class="menu-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
              <div class="x-bar">
                <div class="side-bar1"></div>
                <div class="side-bar2"></div>
              </div>
        

         <div id="formLoc">
            <form id="msform" method="POST" action="/purchase">
                    <fieldset>
                    <h1 id="title" class="fs-title">Material</h2>

                    <input type="text" name="material" placeholder="Alpha...." / required>
                    <div id="nxtBtn">
                    <button type="button" id="btnNext" name="next" class="next action-button"  ><span>Next</span></button>
                    </div>
                    </fieldset>
                    <fieldset>
                        <h1 id="title" class="fs-title">Request Details</h1>
                        <div class="fillout">

                                <div id="moq" class="form-group">
                                    <input type="number" class="form-control" id="moqIn"  placeholder="Order Quantity" required> 
                                </div>

                                <div id="measurments" class="form-group">
                                        <div class="input-group">
                                            <input type="number" class="form-control" aria-label="Text input with dropdown button" placeholder="Amount in Each Order" required>
                                            <div class="input-group-append">
                                                <select id="unit" class="input-group-text" id="mesurement" placeholder = "Units" required>
                                                    <option value="kg">Kilograms</option>
                                                    <option value="lb">Pounds</option>
                                                    </select>
                                            </div>
                                        </div>

                                    </div>

                                <div id="tPrice" class="input-group">
                                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="priceIn" placeholder="Target Price (Optional)">
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">$(USD)</span>
                                    </div>
                                </div>

                                <div id="rushOrder" class="form-group">
                                        <div id="checkboxArea">
                                                <input type="checkbox"  id="checkGlow">
                                            </div>
                                            
                                </div>

                                <div id="extraNotes">

                                </div>
                                  
                        </div>
                   <div class="submit">

                    <button type="button" id="btnPrev" name="previous" class="previous action-button" ><span>Previous</span></button>
                    <button type="submit" id="abhBtn"><span>Form Completed </span></button>
                        
                    </div>
                    </fieldset>
            </form>
        </div>



                    <!-- <form class="form-group" method="POST" action="/purchase" id="addVend" class="tab-pane fade in active">
                    </form> -->



 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>   
 <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
 </script>
 <script src="/scripts/purchaseScript.js"></script>

<script src="/scripts/purchaseScript.js"></script>
<script src='/scripts/otherScripts/sideNavScript.js'></script>
</body>  

</html>